@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800&display=swap');
@import url('https://unpkg.com/css.gg@2.0.0/icons/css/chevron-down.css');
@import url("sections/hero.css");
@import url("sections/sidebar.css");
@import url("sections/navbar.css");
@import url("sections/about.css");
@import url("sections/doing.css");
@import url("sections/resume.css");
@import url("sections/contact.css");
@import url("sections/portfolio.css");
:root{
  /* typography */
  
  /* font family */
  --ff-Poppins :'Poppins', sans-serif;

  /* color */
  --bg-color: hsl(240, 2%, 12%);
  --font_color: #050000;
  --border-color: (0, 0%, 22%);
  --font_color-2: #3B2626;
  --bg-gray-items: #2b2b2c;
  --white-1: #fff;
  --white-2: #fafafa;
  --gauta : rgb(255, 219, 112);
  --dark-gray-color :#d6d6d6b3;
  --light_gray_color :#d6d6d6;

 

  /* font size */
  --fs-1: 24px;
  --fs-2: 18px;
  --fs-3: 17px;
  --fs-4: 16px;
  --fs-5: 15px;
  --fs-6: 14px;
  --fs-7: 13px;
  --fs-8: 11px;

  /* font weight */
  --fw-500: 500;
  --fw-400: 400;
  --fw-300:300;
  --fw-200:200;
  --fw-100:100;

}

/* RESET */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

a{
  text-decoration: none;
  color: inherit;
}

li{list-style: none;}

input, textarea {
  display: block;
  width: 100%;
  background: none;
  font: inherit;
}
button {
  font: inherit;
  background: none;
  border: none;
  text-align: left;
  cursor: pointer;
}

html{
  font-family: var(--fw-poppins);
}

body {
 background:hsl(0, 0%, 7%);
 width: 100%;
 color: #fff;
 font-family: var(--ff-Poppins);
 display: flex;
 
 /* position: relative; */
}
.main {
  width: 100%;
  margin-inline: auto;
  position: relative;
}

.sidebar, .main__content {
    background-color: var(--bg-color);
    border: 1px solid hsl(0, 0%, 22%);
    border-radius: 20px;    
}
.sidebar {
    width: 15%;
    position: fixed;
    top: 1.8rem;
    left: 14.5%;
    margin-inline: auto;
}
.main__content {
    width: 55%;
    float: right;
    position: absolute;
    right: 14.5%;   
    top: 1.8rem;
}


@media(max-width:50rem){
    .main {
      width: 100%;
      display: block;
      flex-direction: column;
      
    }
    .sidebar {
      display: block;
      width: 90%;
        right: 5%;
        left: 5%;
    } 
    .main__content  {
      display: block;
        width: 90%;
        top: 15rem;
        right: 5%;
        left: 5%;
    }
    .main__content.active{
      display: block;
      top: 35rem;
    }
   
}


/* --------------------------------------common style -----------------------------------------------------------------
-----------------------------------------------------------------------------------------------------------------------*/
.about h2, .resume h2 , .portfolio h2 ,.portfolio__title {
    letter-spacing: 0.16rem;
    margin-top: 2.25rem;
    margin-bottom: 2.25rem;    
    margin-left: 2.1rem; 
    font-size: var(--fs-1);   
    text-transform: uppercase;
}
.about h2 span ,.resume h2 span, .portfolio h2 span, .portfolio__title span{    
    text-decoration: underline;
    text-decoration-thickness: 4px;
    text-underline-offset: 10px;
    text-decoration-color: var(--gauta) ;
}