.about {
    width: 100%;
}
.about__text {
    color: var( --light_gray_color);
    font-size: var(--fs-6);    
    font-family: var(--fw-300);
    line-height: 1.6;
    text-align: center;    
}
.about__text p:first-child {
    padding: 1rem;
}
.about__text {
   position: relative;  
   margin-inline: 5rem;
   margin-block: 5rem;
} 

@media(max-width :50rem)
{
    .about__text {
        font-size: var(--fs-4);
        margin-inline: 1rem;      
        margin-block: 2rem;  
    }
}