.navbar {
    background: hsla(240, 1%, 17%, 0.75);;
    width: 46rem;
    height: 4rem;
    float: right;    
    border: 1px solid var(--border-color);    
    border-radius:  0 12px 0 12px;
    position: relative;
    z-index: 1;
    box-shadow: 12px 0 12px 0 black;
    border: 1px solid hsl(0, 0%, 22%);
 
}
.toggle-button {
  position: absolute;  
  top: .75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}
.toggle-button .bar{
   height: 3px; 
   width: 100%;
   background: var(--light_gray_color);
   border-radius: 10px;


}
.navbar .icon {
    display: none;
}
.navbar::before {
    position: fixed;
    top:0;
    right: 0;
    z-index: -1;
}
.navbar__list {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 1.25rem;
    column-gap: 2.2rem;   
    padding: 1.25rem;
    position: relative;
}
.navbar__list:hover {
    background-color: var();
}
.navbar__item a{
    font-size: var(--fs-5); 
    color: var(--light_gray_color);  
    text-transform: uppercase;    
    letter-spacing: 0.25rem;
    font-weight: var(--fw-500);    
}
.navbar__item a:hover {
    color: var(--dark-gray-color);
}

.navbar .toggle_btn {
    display: none;
}
.navbar__list a.active {
    color: var(--gauta);
}

@media(max-width: 50rem)
{
    .toggle-button {
        display: flex;
    }
    .navbar {
        width: 100%;
        height: fit-content;
    }
    .navbar__list {
        display: none;
        flex-direction: column;
        width: 100%;
    }
    .navbar__item {
         text-align: center;
    }
    .navbar__item a {
        padding: 0.5rem 1rem;
   }
   .navbar__list.active{
    display: flex;
   }
}
